body {
    background: url('../images/paperboard-texture.jpg');
}

/* *=> general */

section {
    padding: 5rem;
}

h2 {
    text-transform: capitalize;
}

h2 {

    font-family: 'Cathy';
    font-weight: 100;
    font-size: 7rem;
    text-align: center;
}

p {
    width: 80vw;
    text-align: center;
    margin: 2rem auto;

    font-family: 'ojuju';
    font-weight: 300;
    font-size: 2.3rem;
}

span {
    color: #3347e3;
}

span:hover {
    cursor: copy;
}

img.line-break {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
}

a {
    color: #7080f0;
}

form {
    display: flex;
    flex-direction: column;
}

/* *=> sections */

/* *=> hero */

.hero {
    background-image: url('../images/acuarela.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.hero h1 {
    font-family: 'joseph';
    font-weight: 100;
    font-size: 10rem;
}

/* *=> form */

.section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-form form {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline
}

.section-form input {
    width: 100%;
    height: 2.2rem;
}

.section-form textarea {
    width: 100%;
    text-align: left;
}

.section-form label {
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
    font-family: 'ojuju';
}

.section-form label::after {
    content: ':';
}

.section-form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: .5rem 0;
}

.section-form .btn-form {

    font-family: 'ojuju';
    font-size: 1.5rem;
    font-weight: 500;

    width: fit-content;
    height: fit-content;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: .1px solid black;
    background-color: #daa023;

    margin-top: 1.5rem;
    align-self: flex-end;
}

.section-form .checkbox-container {
    width: min-content;
    flex-direction: row;
}

.section-form .checkbox-container input {
    margin-left: .8rem;
    width: 1.2rem;
}

.textarea-container {
    flex-direction: column;
}