body {
    background: url('../images/backgrounds/background3.jpeg');
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-space {
    margin-top: -2rem;
}

input,
textarea {
    border: none;
    border-radius: 8px;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.place-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
}

.place-title h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Arial';
    font-weight: bold;
}

.main-title h1 {
    font-family: 'script';
    font-size: 5rem;
    font-weight: 100;
}


.up-line {
    border-top: 1px solid black;
}

.bottom-line {
    border-bottom: 1px solid black;
}


.main-title-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title-date div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-title-date div h4 {
    width: 25%;
    height: fit-content;

    text-transform: capitalize;
    font-family: 'ojuju';
    font-weight: 400;
    text-align: center;

    font-size: 1rem;
}

.bigger {
    font-size: 3rem;
}


/* *=> general */

section {
    padding: 1rem 0;
}

h2 {
    text-transform: capitalize;
    font-family: 'cathy';
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;

}

p {
    width: 80vw;
    text-align: center;
    margin: 2rem auto;

    font-family: 'Arial';
    font-weight: 300;
    font-size: 1.2rem;
}

span {
    color: black;
    font-weight: bolder;
}

span:hover {
    cursor: copy;
}

img.line-break {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
}

a {
    font-size: 1.2rem;
    color: black;
    font-style: italic;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
}

/* *=> sections */

/* *=> hero */

.hero {

    min-height: 100vh;

    /* background-image: url('../images/acuarela.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    min-width: 100vw;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero>img {
    border-radius: 5px;
    /* max-height: 95vh; */
    /* border-style: outset; */

    width: 95%;
}

/*alojamiento*/
#alojamiento-title {
    font-size: 3rem;
}

/* *=> form */

.section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-form h2 {
    margin-bottom: 1rem;
}


.section-form form {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline
}

.section-form input {
    width: 100%;
    height: 2.2rem;
}

.section-form textarea {
    width: 100%;
    text-align: left;
}

.section-form label {
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    font-family: 'Arial';
}

.section-form label::after {
    content: ':';
}

.section-form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: .5rem 0;
}

.section-form .btn-form {

    font-family: 'Arial';
    font-size: 1rem;
    font-weight: 500;

    width: fit-content;
    height: fit-content;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(54, 221, 196);

    margin-top: 1.5rem;
    align-self: flex-end;
}

.section-form .checkbox-container {
    width: min-content;
    flex-direction: row;
    align-items: baseline;
}

.section-form .checkbox-container input {
    margin-left: .8rem;
    width: 3rem;
}

.textarea-container {
    flex-direction: column;
}


#kidsNumber {
    height: 1.5rem;
    width: 1.5rem;
    -webkit-appearance: none;
}

/* dress-code */
.section-dress-code h2 {
    margin-top: 2.5rem;
}

.dress-code label {
    white-space: wrap;
}