@import url('reboot.css');

@font-face {
    font-family: 'cathy';
    src: url('fonts/Cathylise\ Janetson.otf');
}

@font-face {
    font-family: 'ojuju';
    src: url('fonts/Ojuju-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'script';
    src: url('fonts/Anything Font/Anything Script_2 TTF.ttf');
}

:root {
    --c-base: #FFE0AB;
    --c-main: #FFEAAB;
    --c-resalt: #FFC5AB;
    --c-resalt2: #FFF5AB;
    --c-main2: #FFD3AB;
}

.hidden {
    display: none;
}

.msg-error {
    color: red
}

.msg-correct {
    color: green
}